*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #0000007E;
    background-blend-mode: darken;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    color: #FFFFFF;
    font-size: clamp(40px,10vw,120px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.apresentacao{
    color: #FFFFFF;
    font-size: clamp(20px,5vw,60px) ; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
}

#informacoes{
    width: 150px;
    height: 40px;
    background-color: #FAE12C;
    border-style: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.botoes {
    display: flex;
    justify-content: center;
    border-top: white solid 2px;
}

a.botao_social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 40px;
    margin: 20px 5px 0px 5px;

    background-color: white;

    border-style: none;
    border-radius: 5px;

    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

a.botao_social:visited {
    text-decoration: none;
    color: black;
}

a.botao_social img {
    height: 30px;
    width: 40px;
}